<!DOCTYPE html>
<html>
<head>
 <% include ../views/partials/head.ejs %>
</head>
<header>
 <% include ../views/partials/header.ejs %>  
</header>
<body id="show"> 
<h1>Results page</h1>

	<h2><%= data.businesses[0].name %> </h2>
	<p><%= data.businesses[0].location.display_address %></p>
	<p><%= data.businesses[0].location.city %></p>
	<p><%= data.businesses[0].location.postal_code %></p>
	
<a href="/users/search"> Search Again</a> 
<form action="/users/<%= users.id %>/restaurantupdate" method="POST" edit="editformid">
        <input type="text" name="restaurantname" value="<%= data.businesses[0].name %>">
        <input type="hidden" name="_method" value="PUT"/>
        <br>
        <button>Save This Restaurant</button>
    </form>
</body>
</html>