<!DOCTYPE html>
<html>
<head>
</head>
<header> 
</header>
<body id="show"> 

    <div id="users-container">
    	<div>
    	<p> <%= users.username %></p>
    	<p> <%= users.zipcode %></p>
    	<%if(users.restaurantname) {%>
    		<p> <%= users.restaurantname %></p>

    	<%}%>
          
      </div>
    </div>
    <a href="/users/<%=users.id%>/search"> Search</a> 
    <a href="/users/<%= users.id %>/edit">Edit User</a>
            <form action="/users/<%= users.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE"/>
                <button>Delete User</button>
            </form> 
    
</body>
</html>
